[Desktop Entry]
Name=JRPN 16C
Comment=Simulator of the HP 16C programmer's calculator
Exec=jrpn16
Icon=com.jovial.jrpn16
Type=Application
Categories=Utility;Calculator;
